spring:
  datasource:
    username: sa
    password:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop

logging:
  level:
    org.springframework.web.servlet: trace

secret.decoder_key: DICKABOABOSARle;rkewjefreljfjrejkhrewghrekhgreherkhnremnrekjnakjhkjnardnhvdksrjgvhaekgjhsedklugvhsdrkgj