spring:
  config:
    activate:
      on-profile: prod
  datasource:
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}
    url: ${LOCAL_DB_URL}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

secret.decoder_key: ${SECRET_DECODE_KEY}