spring:
  config:
    activate:
      on-profile: dev
  datasource:
    username: postgres
    password: Shift2201
    url: jdbc:postgresql://localhost:5432/cs2025_db
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

secret.decoder_key: DICKABOABOSARle;rkewjefreljfjrejkhrewghrekhgreherkhnremnrekjnakjhkjnardnhvdksrjgvhaekgjhsedklugvhsdrkgj