spring:
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        bytecode:
          provider: bytebuddy
          use_reflection_optimizer: false
  application:
    name: cw2025_backend
  flyway:
    baseline-on-migrate: true
  profiles:
    active: dev

server:
  servlet:
    context-path: /api

token_lifetime: 7
